.headerBox {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: solid 1px lightgray;
}
.header {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "navFont";
  font-size: 40px;
}
.logoBox {
  margin-left: 60px;
}

.dropdownBtn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  z-index: 1;
  font-size: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.link {
  text-decoration: none;
}
.option {
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.searchBox {
  width: 300px;
  height: 50px;
  border: none;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
}
.searchBtn {
  padding: 8px;
  display: inline;
  margin-right: 7px;
}
.inputBox {
  text-align: center;
  width: 70%;
  height: 50px;
  background-color: white;
  border: solid 1px;
  border-radius: 15px;
}

.searchform {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: "navFont";
}

.loginBox {
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.signIn {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
}
.signUp {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
  margin-right: 10px;
}
.body {
  width: 75%;
  height: 62px;
  margin: auto;
  margin-top: 100px;
}
.body h1 {
  font-size: 22px;
  font-weight: bold;
  margin-left: 43px;
  margin-top: 30px;
}
.movieListBox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 500px;
}
.movieList {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 30px;
  font-family: "font";
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  color: #555765;
}
.image {
  border-radius: 5px;
}
.title {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.pageButton {
  margin-bottom: 120px;
  display: inline-block;
}

.FilterBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  flex-wrap: wrap;
}
@font-face {
  font-family: "font";
  src: url("./font/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "navFont";
  src: url("./font/Sunflower-Light.ttf");
}
